<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<%= form_tag("/send_mail", method: "post") do %>
  <% @users.each do |user| %>
    <%= hidden_field_tag 'users[][id]', user.id %>
    <%= check_box_tag 'users[][user]' %>
    <%= user.name %>
  <% end %>
  <%= submit_tag("送信") %>
<% end %>
